@font-face {
	font-family: 'MyFont';
	src:
		url('lib/fonts/HanyiSentyRubber.woff') format('woff'),
		url('lib/fonts/HanyiSentyRubber.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	size-adjust: 115%;
}
html {
	max-width: 70ch;
	padding: 3em 1em;
	margin: auto;
	line-height: 1.75;
	font-size: 1.25em;
	font-family: 'MyFont';
	--primary: #2e557c;
	--highlight: #ba3f1d;
	--background: #d9cfc1;

	background-color: var(--background);
}

h1,
h2,
h3 {
	text-decoration: underline;
	text-decoration-color: var(--highlight);
	text-decoration-thickness: 4px;
}

*:focus-visible:where(:not(body)) {
	outline: 2px solid var(--primary);
	outline-offset: 2px;
}

a {
	color: black;
}

pre code {
	display: block;
	overflow: auto;
}

img {
	width: 100%;
}
